<a href="https://colab.research.google.com/github/PedroJoas/SQL-analyses/blob/main/coffee%20sales/Coffe_Sales_Analyses.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
!pip install opendatasets --upgrade --quiet

# Connection db

In [8]:
import sqlite3 as sql

In [19]:
conn = sql.connect('coffeeSales.db')
print("Opened database successfully");

Opened database successfully

In [20]:
cursor = conn.cursor()

cursor.execute('''
CREATE TABLE IF NOT EXISTS cafe_new (
    date DATE NOT NULL,
    datetime DATE NOT NULL,
    cash_type TEXT NOT NULL,
    card TEXT,
    money REAL NOT NULL,
    coffee_name TEXT NOT NULL
)
''')

conn.commit()

print("Table created successfully")

Table created successfully

# Download data

In [ ]:
import opendatasets as od

You need a kaggle account to use this code

This [medium article](https://ravi-chan.medium.com/how-to-download-any-data-set-from-kaggle-7e2adc152d7f#c629) explains about that

In [12]:
dataset = 'https://www.kaggle.com/datasets/ihelon/coffee-sales'
od.download(dataset)

Skipping, found downloaded files in "./coffee-sales" (use force=True to force download)

In [16]:
import pandas as pd

coffee = pd.read_csv('coffee-sales/index.csv')
coffee.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 896 entries, 0 to 895
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         896 non-null    object
 1   datetime     896 non-null    object
 2   cash_type    896 non-null    object
 3   card         807 non-null    object
 4   money        896 non-null    float64
 5   coffee_name  896 non-null    object
dtypes: float64(1), object(5)
memory usage: 42.1+ KB

In [17]:
coffee['date'] = pd.to_datetime(coffee['date'])
coffee['datetime'] = pd.to_datetime(coffee['datetime'])
coffee.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 896 entries, 0 to 895
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         896 non-null    datetime64[ns]
 1   datetime     896 non-null    datetime64[ns]
 2   cash_type    896 non-null    object
 3   card         807 non-null    object
 4   money        896 non-null    float64
 5   coffee_name  896 non-null    object
dtypes: datetime64[ns](2), float64(1), object(3)
memory usage: 42.1+ KB

In [21]:
coffee.to_sql('coffeeSales', conn, if_exists='replace', index=False)

896

# Start analyses

In [24]:
cursor.execute('''
SELECT * FROM coffeeSales
''').fetchone()

('2024-03-01 00:00:00',
 '2024-03-01 10:15:50.520000',
 'card',
 'ANON-0000-0000-0001',
 38.7,
 'Latte')